<!-- [SModders\Telegram:Notification] -->
<div class="blockMessage blockMessage--iconic blockMessage--important" style="margin-bottom: 0;">
	<xf:set var="$bot">
		<a href="tg://resolve?domain=botfather" target="_blank">@BotFather</a>
	</xf:set>

	{{ phrase('smodders_tgcore.provider_blockMessage', {'bot': $bot}) }}<br />
	{{ phrase('smodders_tgcore.proxy_message') }}
</div>
<!-- /[SModders\Telegram:Notification] -->

<!-- [SModders\Telegram:BotToken] -->
<xf:textboxrow name="options[token]" value="{$options.token}"
	label="{{ phrase('smodders_tgcore.token') }}" hint="{{ phrase('required') }}"
	explain="{{ phrase('smodders_tgcore.token_explain') }}" />
<!-- /[SModders\Telegram:BotToken] -->