<xf:macro name="row" arg-entity="!">
	<xf:datarow>
		<xf:main href="{{ link('smodders_telegram/bots/edit', $entity) }}"
				 label="{$entity.title}"
				 hash="{$entity.title}"
				 dir="auto" />

		<xf:delete href="{{ link('smodders_telegram/bots/delete', $entity) }}"
					tooltip="{{ phrase('delete') }} " />
	</xf:datarow>
</xf:macro>

<xf:title>{{ phrase('admin_navigation.smodders_tgcore__bots') }}</xf:title>
<xf:pageaction>
	<xf:button href="{{ link('smodders_telegram/bots/add') }}" icon="add"
		data-xf-click="prefix-grabber"
		data-filter-element="[data-xf-init~=filter]">
		{{ phrase('smodders_tgcore.add_bot') }}
	</xf:button>
</xf:pageaction>

<xf:macro template="smcore_crud_list" name="full_block" arg-parentTemplate="smodders_tgcore__bots_index"
		  arg-searchFilterUrl="{$searchFilterUrl}" arg-entities="{$entities}" arg-entityRow="row"
		  arg-total="{$total}" arg-perPage="{$perPage}" arg-page="{$page}" />