<xf:set var="$botCreateUrl" value="{{ link('smodders_telegram/bots/add') }}" />

<!-- [SModders\Telegram:ActiveBot] -->
<xf:selectrow name="options[bot_id]" value="{$options.bot_id}"
			  label="{{ phrase('smodders_tgcore.bot') }}"
			  explain="{{ phrase('smodders_tgcore.bot_explain_cas', {'botCreateUrl': $botCreateUrl}) }}">

	<xf:option value="-1" label="{{ phrase('(none)') }}" />
	
	<xf:foreach loop="$bots" value="$bot">
		<xf:option value="{$bot.bot_id}" label="{$bot.title}" />
	</xf:foreach>
</xf:selectrow>
<!-- /[SModders\Telegram:ActiveBot] -->