<div class="blockMessage blockMessage--warning">
	<div class="Telegram Telegram--cover">
		<center>
			{{ phrase('smodders_tgcore.authMethod_direct_text') }}
			<br />

			<!-- Classic login method: with bot help -->
			<xf:set var="$botUrl">tg://resolve?domain={$botName}</xf:set>
			<xf:set var="$loginUrl">{$botUrl}&start=smodders_tgcore__authenticate</xf:set>
			{{ phrase('smodders_tgcore.login_with_bot', {
				'botUrl': $botUrl,
				'loginUrl': $loginUrl
			}) }}
		</center>
	</div>
</div>

<div class="block">
	<center> 		
		<!-- Prepare settings for widget -->
		<xf:if is="property('smodders_tgcore__border_radius')">
			<xf:set var="$radius">data-radius="{{ property('smodders_tgcore__border_radius') }}"</xf:set>
		<xf:else />
			<xf:set var="$radius" value="" />
		</xf:if>

		<script async
				src="https://telegram.org/js/telegram-widget.js?4"
				data-telegram-login="{$botName}"
				data-size="{{ property('smodders_tgcore__button_size') }}"
				data-auth-url="{$redirectUri}"
				data-request-access="write"
				{$radius}
				data-userpic="{{ property('smodders_tgcore__user_avatar') }}">
		</script>
	</center>
</div>